
body
{
  background-color: #ccffff;
  justify-content: center;
  
  flex: wrap;
}
h1
{
  text-align: center;
}


.parent -container h2
{
  padding: 16px;
  font-size: 28px;
  margin-bottom: 8px;

}
.parent -container  p
{
   color:#666;
   font-size: 15px;
   line-height: 1.3;
}
.parent -container  placeholder
{
  width: 10px;
   height: auto;
}

      .parent -container
    {  
      display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
   

    .card {
      height: 800px;
      margin: 10px;
      padding-top: 40px;
      border-radius: 10px;
      display: inline-block;
      justify-content: space-between;
    align-items: center;
      width: 400px;
      text-align: center;
      background-color: white;
      border: 2px solid green;
      box-shadow: 0 4px 8px 0 #006622;
   
    width: calc(33% - 40px);
    margin: 10px;
    
     
    }
   
   
    .placeholder
{
   width: 30px;
   height: 20px;
}
p{
  color: green;
}
button{
  background-color:#E0FBE2 ;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
    
.backbutton
{
  width: 70px;
  height: 50px;
}

img
{
  width: 350px;
  height: 200px;
}