body {
    font-family:cursive;
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color:#A3D3C6
}

header {
    color: rgb(172, 169, 164);
    background-color:rgb(38, 74, 37);
    text-align: center;
    padding: 10px 10px 05px 05px
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
}

.card-btn {
    display: inline-block;
    width: 200px;
    height: 150px;
    padding: 10px;
}

.action-container {
    background-color: rgb(172, 169, 164);
    width: 30px;
    height: 30px;
    border-radius: 115%;
    padding: 4px;
    position: sticky;
    position: absolute;
    top: 35px;
    left: 140px;
  

}
